body {
  background-image: url(https://images.unsplash.com/photo-1547483238-f400e65ccd56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
  overflow-x: hidden;
}
#header {
  width: auto;
  height: 75px;
  background-color: white;
  z-index: 2;
  font-family: 'Exo', sans-serif;
  text-align: center;
  padding-top: 17px;
}
#input-form {
  border: 2px solid black;
  padding: 30px;
  width: 300px;
  font-family: 'Vollkorn', serif;
  font-size: larger;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(239, 250, 255, 0.7);
}
#output {
  position: absolute;
  margin-top: 255px;
  margin-right: 315px;
  width: auto;
  height: auto;
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  right: 0;
  top: 0;
}
#run {
  display: flex;
  flex-direction: column;
}
#footer {
  width: auto;
  height: 50px;
  background-color: white;
  z-index: 2;
  font-family: 'Exo', sans-serif;
  position: absolute;
  bottom: 0;
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
}
#footer-werds {
  width: auto;
  padding-top: 10px;
  padding-left: 7px;
}
